h1
{
  	color: #FFF;
	font-weight: bold;
	font-size: 72px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
}

h3
{
  	color: #FFF;
	font-weight: bold;
	font-size: 24px;
	font-family: Helvetica, Arial, Verdana, sans-serif;
}

body
{
	background-color: #333;
}
